@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Maven Pro", sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #e6a5a3;
}

.profile-img{
  background: rgb(255,212,211);
  background: radial-gradient(circle, rgba(255,212,211,1) 0%, rgba(235,173,171,1) 51%, rgba(230,165,163,1) 100%);
}